extends layout

block content
  script('var exports = this;')
  script(src='/socket.io/socket.io.js')
  script(src='../node_modules/mucbuc-jsbag/lib/core.js')
  script(src='../node_modules/mucbuc-jsbag/lib/vec.js')
  script(src='../node_modules/mucbuc-jsbag/lib/canvas.js')
  script(src='public/javascripts/debug.js')
  script(src='public/javascripts/system.js')
  script(src='public/javascripts/game.js')
  script(src='public/javascripts/kinetic.js')
  script(src='public/javascripts/disc.js')
  script(src='public/javascripts/puck.js')
  script(src='public/javascripts/collision.js')
  script(src='public/javascripts/goal.js')
  script(src='public/javascripts/boundary.js')
  script(src='public/javascripts/logic.js')
  script(src='public/javascripts/app.js')
  h1= title
  nav()
    a(href='rules') rules
  div(id='score')
    p score: 0
  canvas(id='canvas'
    width = 1000
    height = 1000)
  